In [106]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
df1=pd.read_csv("D://mamta//train_curfew.csv")
df2=pd.read_csv("D://mamta//test_curfew.csv")
df=pd.concat([df1,df2],keys=("train","test"))

In [107]:
df1.shape

(21000, 25)

In [108]:
df2.shape

(9000, 24)

In [109]:
df.shape

(30000, 25)

In [110]:
df.head()

            ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
train 0  25150     360000    2          2         2   25     -1     -1     -1
      1  13470     240000    2          1         2   46      2      2     -2
      2   3092     320000    2          2         1   41      0      0      0
      3  13973      50000    2          2         2   24     -1     -1     -2
      4  10567      80000    1          3         1   52     -1      0      0

         PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
train 0     -1  ...       3435       8870       2020     12590      3479
      1     -1  ...       2240       1681       2267         0         0
      2      0  ...      35409      35036      35939      5000      2000
      3     -2  ...          0          0          0         0         0
      4      0  ...      20561      21261      21457      1500      1500

         PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default_payment_next_month
train 0      3446      8870      2020     27043                         0.0
      1      2240         0      2267      3074                         0.0
      2      2000      3000      3000      1500                         0.0
      3         0         0         0         0                         1.0
      4      1500      1028       876      1449                         0.0

[5 rows x 25 columns]

In [111]:
df.isnull().sum()

ID                               0
LIMIT_BAL                        0
SEX                              0
EDUCATION                        0
MARRIAGE                         0
AGE                              0
PAY_0                            0
PAY_2                            0
PAY_3                            0
PAY_4                            0
PAY_5                            0
PAY_6                            0
BILL_AMT1                        0
BILL_AMT2                        0
BILL_AMT3                        0
BILL_AMT4                        0
BILL_AMT5                        0
BILL_AMT6                        0
PAY_AMT1                         0
PAY_AMT2                         0
PAY_AMT3                         0
PAY_AMT4                         0
PAY_AMT5                         0
PAY_AMT6                         0
default_payment_next_month    9000
dtype: int64

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 30000 entries, ('train', 0) to ('test', 8999)
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default_payment_next_month  21000 non-null  float64
dtypes: float64(1), int64(24)
memory usage: 6.0+ MB

In [113]:
df.corr()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
ID,1.000000,0.026179,0.018497,0.039177,-0.029079,0.018678,-0.030575,-0.011215,-0.018494,-0.002735,...,0.040351,0.016705,0.016730,0.009742,0.008406,0.039151,0.007793,0.000652,0.003000,-0.016701
LIMIT_BAL,0.026179,1.000000,0.024755,-0.219161,-0.108139,0.144713,-0.271214,-0.296382,-0.286123,-0.267460,...,0.293988,0.295562,0.290389,0.195236,0.178408,0.210167,0.203242,0.217202,0.219595,-0.159163
SEX,0.018497,0.024755,1.000000,0.014232,-0.031389,-0.090874,-0.057643,-0.070771,-0.066096,-0.060173,...,-0.021880,-0.017005,-0.016733,-0.000242,-0.001391,-0.008597,-0.002229,-0.001667,-0.002766,-0.037634
EDUCATION,0.039177,-0.219161,0.014232,1.000000,-0.143464,0.175061,0.105364,0.121566,0.114025,0.108793,...,-0.000451,-0.007567,-0.009099,-0.037456,-0.030038,-0.039943,-0.038218,-0.040358,-0.037200,0.021347
MARRIAGE,-0.029079,-0.108139,-0.031389,-0.143464,1.000000,-0.414170,0.019917,0.024199,0.032688,0.033122,...,-0.023344,-0.025393,-0.021207,-0.005979,-0.008093,-0.003541,-0.012659,-0.001205,-0.006641,-0.016888
AGE,0.018678,0.144713,-0.090874,0.175061,-0.414170,1.000000,-0.039447,-0.050148,-0.053048,-0.049722,...,0.051353,0.049345,0.047613,0.026147,0.021785,0.029247,0.021379,0.022850,0.019478,0.006664
PAY_0,-0.030575,-0.271214,-0.057643,0.105364,0.019917,-0.039447,1.000000,0.672164,0.574245,0.538841,...,0.179125,0.180635,0.176980,-0.079269,-0.070101,-0.070561,-0.064005,-0.058190,-0.058673,0.325851
PAY_2,-0.011215,-0.296382,-0.070771,0.121566,0.024199,-0.050148,0.672164,1.000000,0.766552,0.662067,...,0.222237,0.221348,0.219403,-0.080701,-0.058990,-0.055901,-0.046858,-0.037093,-0.036500,0.263546
PAY_3,-0.018494,-0.286123,-0.066096,0.114025,0.032688,-0.053048,0.574245,0.766552,1.000000,0.777359,...,0.227202,0.225145,0.222327,0.001295,-0.066793,-0.053311,-0.046067,-0.035863,-0.035861,0.235930
PAY_4,-0.002735,-0.267460,-0.060173,0.108793,0.033122,-0.049722,0.538841,0.662067,0.777359,1.000000,...,0.245917,0.242902,0.239154,-0.009362,-0.001944,-0.069235,-0.043461,-0.033590,-0.026565,0.220079
PAY_5,-0.022199,-0.249411,-0.055064,0.097520,0.035629,-0.053826,0.509426,0.622780,0.686775,0.819835,...,0.271915,0.269783,0.262509,-0.006089,-0.003191,0.009062,-0.058299,-0.033337,-0.023027,0.208783
PAY_6,-0.020270,-0.235195,-0.044008,0.082316,0.034345,-0.048773,0.474553,0.575501,0.632684,0.716449,...,0.266356,0.290894,0.285091,-0.001496,-0.005223,0.005834,0.019018,-0.046434,-0.025299,0.188985
BILL_AMT1,0.019389,0.285430,-0.033642,0.023581,-0.023472,0.056239,0.187068,0.234887,0.208473,0.202812,...,0.860272,0.829779,0.802650,0.140277,0.099355,0.156887,0.158303,0.167026,0.179341,-0.028493
BILL_AMT2,0.017982,0.278314,-0.031183,0.018749,-0.021602,0.054283,0.189859,0.235257,0.237295,0.225816,...,0.892482,0.859778,0.831594,0.280365,0.100851,0.150718,0.147398,0.157957,0.174256,-0.022796
BILL_AMT3,0.024354,0.283236,-0.024563,0.013002,-0.024909,0.053710,0.179785,0.224146,0.227494,0.244983,...,0.923969,0.883910,0.853320,0.244335,0.316936,0.130011,0.143405,0.179712,0.182326,-0.022824
BILL_AMT4,0.040351,0.293988,-0.021880,-0.000451,-0.023344,0.051353,0.179125,0.222237,0.227202,0.245917,...,1.000000,0.940134,0.900941,0.233012,0.207564,0.300023,0.130191,0.160433,0.177637,-0.020185
BILL_AMT5,0.016705,0.295562,-0.017005,-0.007567,-0.025393,0.049345,0.180635,0.221348,0.225145,0.242902,...,0.940134,1.000000,0.946197,0.217031,0.181246,0.252305,0.293118,0.141574,0.164184,-0.015790
BILL_AMT6,0.016730,0.290389,-0.016733,-0.009099,-0.021207,0.047613,0.176980,0.219403,0.222327,0.239154,...,0.900941,0.946197,1.000000,0.199965,0.172663,0.233770,0.250237,0.307729,0.115494,-0.015480
PAY_AMT1,0.009742,0.195236,-0.000242,-0.037456,-0.005979,0.026147,-0.079269,-0.080701,0.001295,-0.009362,...,0.233012,0.217031,0.199965,1.000000,0.285576,0.252191,0.199558,0.148459,0.185735,-0.076042
PAY_AMT2,0.008406,0.178408,-0.001391,-0.030038,-0.008093,0.021785,-0.070101,-0.058990,-0.066793,-0.001944,...,0.207564,0.181246,0.172663,0.285576,1.000000,0.244770,0.180107,0.180908,0.157634,-0.059409
PAY_AMT3,0.039151,0.210167,-0.008597,-0.039943,-0.003541,0.029247,-0.070561,-0.055901,-0.053311,-0.069235,...,0.300023,0.252305,0.233770,0.252191,0.244770,1.000000,0.216325,0.159214,0.162740,-0.067720
PAY_AMT4,0.007793,0.203242,-0.002229,-0.038218,-0.012659,0.021379,-0.064005,-0.046858,-0.046067,-0.043461,...,0.130191,0.293118,0.250237,0.199558,0.180107,0.216325,1.000000,0.151830,0.157834,-0.059574
PAY_AMT5,0.000652,0.217202,-0.001667,-0.040358,-0.001205,0.022850,-0.058190,-0.037093,-0.035863,-0.033590,...,0.160433,0.141574,0.307729,0.148459,0.180908,0.159214,0.151830,1.000000,0.154896,-0.063666
PAY_AMT6,0.003000,0.219595,-0.002766,-0.037200,-0.006641,0.019478,-0.058673,-0.036500,-0.035861,-0.026565,...,0.177637,0.164184,0.115494,0.185735,0.157634,0.162740,0.157834,0.154896,1.000000,-0.061206
default_payment_next_month,-0.016701,-0.159163,-0.037634,0.021347,-0.016888,0.006664,0.325851,0.263546,0.235930,0.220079,...,-0.020185,-0.015790,-0.015480,-0.076042,-0.059409,-0.067720,-0.059574,-0.063666,-0.061206,1.000000

In [114]:
df.PAY_AMT4.unique()

array([ 8870,     0,  3000, ..., 12820, 25420, 16405], dtype=int64)

In [115]:
x=df.drop(["default_payment_next_month","ID","SEX","EDUCATION","MARRIAGE","AGE"],axis=1)
y=df["default_payment_next_month"]
x_train=x.iloc[0:21000,:]
y_train=y.iloc[0:21000]
x_test=x.iloc[21000:,:]
y_test=y.iloc[21000:]

In [116]:
y_train.tail()

train  20995    0.0
       20996    0.0
       20997    1.0
       20998    0.0
       20999    1.0
Name: default_payment_next_month, dtype: float64

In [117]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [118]:
y_train_pred=lr.predict(x_train)

In [119]:
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score,roc_auc_score
acc=accuracy_score(y_train,y_train_pred)
acc

0.7788095238095238

In [120]:
y_pred=lr.predict(x_test)

In [121]:
w1=pd.DataFrame(y_pred)
w2=pd.DataFrame(df2["ID"])
w=pd.concat([w1,w2],axis=1)
w.to_csv('E:/credit.csv')

In [122]:
from sklearn import tree
dt=tree.DecisionTreeClassifier()
dt.fit(x_train,y_train)
y_train_pred1=dt.predict(x_train)
acc1=accuracy_score(y_train_pred1,y_train)
acc1

0.9910476190476191

In [123]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(n_estimators=10)
rf.fit(x_train,y_train)
y_train_pred2=rf.predict(x_train)
from sklearn.metrics import accuracy_score,f1_score,precision_score,recall_score,roc_auc_score
a1=accuracy_score(y_train,y_train_pred2)
a1

0.9724761904761905

In [124]:
from sklearn.svm import SVC
classifier=SVC(kernel="rbf")
classifier.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [125]:
from sklearn.svm import SVC
classifier=SVC(kernel="rbf")
classifier.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [126]:
!pip install lightgbm
import lightgbm as lgb
model = lgb.LGBMClassifier()
model.fit(x_train,y_train)

Requirement already satisfied: lightgbm in c:\users\admin\anaconda3\lib\site-packages (2.3.1)
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (from lightgbm) (1.18.1)
Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\lib\site-packages (from lightgbm) (0.22.1)
Requirement already satisfied: scipy in c:\users\admin\anaconda3\lib\site-packages (from lightgbm) (1.4.1)
Requirement already satisfied: joblib>=0.11 in c:\users\admin\anaconda3\lib\site-packages (from scikit-learn->lightgbm) (0.14.1)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [127]:
from sklearn.metrics import accuracy_score
predict_train = model.predict(x_train)
accuracy_train = accuracy_score(y_train,predict_train)

In [128]:
print(accuracy_train)

0.8445714285714285

In [129]:
predict_test = model.predict(x_test)

In [130]:
w1=pd.DataFrame(predict_test)
w2=pd.DataFrame(df2["ID"])
w=pd.concat([w2,w1],axis=1)
w.to_csv('E:/credit1.csv')