In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import itertools
import numpy as np
import statsmodels.api as sm
import statsmodels.tsa.api as smt
import statsmodels.formula.api as smf
from io import StringIO
import requests
import warnings

In [9]:
df1=pd.read_csv("C://Users//Admin//Desktop/Mamta//dataset//healthcare_data//Train.csv")
df2=pd.read_csv("C://Users//Admin//Desktop/Mamta//dataset//healthcare_data//test.csv")
df3=pd.read_csv("C://Users//Admin//Desktop/Mamta//dataset//healthcare_data//First_Health_Camp_Attended.csv")
df4=pd.read_csv("C://Users//Admin//Desktop/Mamta//dataset//healthcare_data//Second_Health_Camp_Attended.csv")
df5=pd.read_csv("C://Users//Admin//Desktop/Mamta//dataset//healthcare_data//Third_Health_Camp_Attended.csv")
df6=pd.read_csv("C://Users//Admin//Desktop/Mamta//dataset//healthcare_data//Health_Camp_Detail.csv")
df7=pd.read_csv("C://Users//Admin//Desktop/Mamta//dataset//healthcare_data//Patient_Profile.csv")

In [11]:
df1.head(),df2.head()

(   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
 0      489652            6578         10-Sep-05     4     0     0     0     2
 1      507246            6578         18-Aug-05    45     5     0     0     7
 2      523729            6534         29-Apr-06     0     0     0     0     0
 3      524931            6535         07-Feb-04     0     0     0     0     0
 4      521364            6529         28-Feb-06    15     1     0     0     7,
    Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
 0      505701            6548         21-May-06     1     0     0     0     2
 1      500633            6584         02-Jun-06     0     0     0     0     0
 2      506945            6582         10-Aug-06     0     0     0     0     0
 3      497447            6551         27-Aug-06     0     0     0     0     0
 4      496446            6533         19-Sep-06     0     0     0     0     0)

In [13]:
df3.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN
3      509916            6560        30      0.634146         NaN
4      488006            6560        20      0.024390         NaN

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6218 entries, 0 to 6217
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      6218 non-null   int64
 1   Health_Camp_ID  6218 non-null   int64
 2   Donation        6218 non-null   int64
 3   Health_Score    6218 non-null   float64
 4   Unnamed: 4      0 non-null      float64
dtypes: float64(2), int64(3)
memory usage: 243.0 KB

In [15]:
df3.isnull().sum()

Patient_ID           0
Health_Camp_ID       0
Donation             0
Health_Score         0
Unnamed: 4        6218
dtype: int64

In [16]:
df3.shape

(6218, 5)

In [17]:
df3=df3.drop(["Unnamed: 4"],axis=1)

In [18]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7819 entries, 0 to 7818
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      7819 non-null   int64
 1   Health_Camp_ID  7819 non-null   int64
 2   Health Score    7819 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 183.4 KB

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75278 entries, 0 to 75277
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         75278 non-null  int64
 1   Health_Camp_ID     75278 non-null  int64
 2   Registration_Date  74944 non-null  object
 3   Var1               75278 non-null  int64
 4   Var2               75278 non-null  int64
 5   Var3               75278 non-null  int64
 6   Var4               75278 non-null  int64
 7   Var5               75278 non-null  int64
dtypes: int64(7), object(1)
memory usage: 4.6+ MB

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35249 entries, 0 to 35248
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         35249 non-null  int64
 1   Health_Camp_ID     35249 non-null  int64
 2   Registration_Date  35249 non-null  object
 3   Var1               35249 non-null  int64
 4   Var2               35249 non-null  int64
 5   Var3               35249 non-null  int64
 6   Var4               35249 non-null  int64
 7   Var5               35249 non-null  int64
dtypes: int64(7), object(1)
memory usage: 2.2+ MB

In [22]:
df=pd.concat([df1,df2],keys=("train","test"))

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 110527 entries, ('train', 0) to ('test', 35248)
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Patient_ID         110527 non-null  int64
 1   Health_Camp_ID     110527 non-null  int64
 2   Registration_Date  110193 non-null  object
 3   Var1               110527 non-null  int64
 4   Var2               110527 non-null  int64
 5   Var3               110527 non-null  int64
 6   Var4               110527 non-null  int64
 7   Var5               110527 non-null  int64
dtypes: int64(7), object(1)
memory usage: 7.8+ MB

In [24]:
df.corr()

,Patient_ID,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5
Patient_ID,1.000000,-0.003258,-0.020146,-0.025879,-0.019222,-0.003562,-0.018712
Health_Camp_ID,-0.003258,1.000000,0.015970,0.012881,0.005614,0.029103,0.027989
Var1,-0.020146,0.015970,1.000000,0.833019,0.380143,0.376367,0.768390
Var2,-0.025879,0.012881,0.833019,1.000000,0.647705,0.349015,0.709103
Var3,-0.019222,0.005614,0.380143,0.647705,1.000000,0.231215,0.394569
Var4,-0.003562,0.029103,0.376367,0.349015,0.231215,1.000000,0.524874
Var5,-0.018712,0.027989,0.768390,0.709103,0.394569,0.524874,1.000000

In [25]:
df1.corr()

,Patient_ID,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5
Patient_ID,1.000000,0.002586,-0.023401,-0.026698,-0.022565,-0.003111,-0.021622
Health_Camp_ID,0.002586,1.000000,0.023907,0.018082,0.004379,0.016363,0.043112
Var1,-0.023401,0.023907,1.000000,0.823730,0.338701,0.369572,0.754567
Var2,-0.026698,0.018082,0.823730,1.000000,0.661589,0.338850,0.691071
Var3,-0.022565,0.004379,0.338701,0.661589,1.000000,0.194531,0.368489
Var4,-0.003111,0.016363,0.369572,0.338850,0.194531,1.000000,0.495021
Var5,-0.021622,0.043112,0.754567,0.691071,0.368489,0.495021,1.000000

In [26]:
df2.corr()

,Patient_ID,Health_Camp_ID,Var1,Var2,Var3,Var4,Var5
Patient_ID,1.000000,-0.005376,-0.013807,-0.024213,-0.013501,-0.003536,-0.012940
Health_Camp_ID,-0.005376,1.000000,0.000334,0.001732,0.004219,0.000842,-0.005944
Var1,-0.013807,0.000334,1.000000,0.850493,0.448561,0.391979,0.793524
Var2,-0.024213,0.001732,0.850493,1.000000,0.628442,0.370959,0.742935
Var3,-0.013501,0.004219,0.448561,0.628442,1.000000,0.279920,0.438695
Var4,-0.003536,0.000842,0.391979,0.370959,0.279920,1.000000,0.577015
Var5,-0.012940,-0.005944,0.793524,0.742935,0.438695,0.577015,1.000000

In [27]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Health_Camp_ID   65 non-null     int64
 1   Camp_Start_Date  65 non-null     object
 2   Camp_End_Date    65 non-null     object
 3   Category1        65 non-null     object
 4   Category2        65 non-null     object
 5   Category3        65 non-null     int64
dtypes: int64(2), object(4)
memory usage: 3.2+ KB

In [28]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37633 entries, 0 to 37632
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Patient_ID         37633 non-null  int64
 1   Online_Follower    37633 non-null  int64
 2   LinkedIn_Shared    37633 non-null  int64
 3   Twitter_Shared     37633 non-null  int64
 4   Facebook_Shared    37633 non-null  int64
 5   Income             37633 non-null  object
 6   Education_Score    37633 non-null  object
 7   Age                37633 non-null  object
 8   First_Interaction  37633 non-null  object
 9   City_Type          14249 non-null  object
 10  Employer_Category  2840 non-null   object
dtypes: int64(5), object(6)
memory usage: 3.2+ MB

In [29]:
dff=df.merge(df7,how="outer")

In [30]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111468 entries, 0 to 111467
Data columns (total 18 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Patient_ID         111468 non-null  int64
 1   Health_Camp_ID     110527 non-null  float64
 2   Registration_Date  110193 non-null  object
 3   Var1               110527 non-null  float64
 4   Var2               110527 non-null  float64
 5   Var3               110527 non-null  float64
 6   Var4               110527 non-null  float64
 7   Var5               110527 non-null  float64
 8   Online_Follower    111468 non-null  int64
 9   LinkedIn_Shared    111468 non-null  int64
 10  Twitter_Shared     111468 non-null  int64
 11  Facebook_Shared    111468 non-null  int64
 12  Income             111468 non-null  object
 13  Education_Score    111468 non-null  object
 14  Age                111468 non-null  object
 15  First_Interaction  111468 non-null  object
 16  City_Type          64068 non-null   object
 17  Employer_Category  19605 non-null   object
dtypes: float64(6), int64(5), object(7)
memory usage: 16.2+ MB

In [31]:
df6.head()

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2
2            6544       03-Nov-03     15-Nov-03     First         F          1
3            6585       22-Nov-03     05-Dec-03     First         E          2
4            6561       30-Nov-03     18-Dec-03     First         E          1